@use "../abstracts" as *;

.client {
  background-image: url("/svg/bg-pattern-about-4.svg");
  background-position: top rem(-100) left;

  @include breakpoint-up("very-small") {
    background-position: top left;
  }
}

.client__title {
  text-align: center;
}

.client__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: rem(64);
  margin-top: var(--space-l);
}

.client__container > * {
  flex: 1 0 100%;
  max-width: rem(160);
}
