@use "../abstracts" as *;

.director {
  background-image: url("/svg/bg-pattern-about-2-contact-1.svg"),
    url("/svg/bg-pattern-home-4-about-3.svg");
  background-position: top left rem(-100), bottom right;
}

.director__title {
  text-align: center;
}

.director__container {
  margin-top: var(--space-l);

  @include supports(display, grid, $copy: true) {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(#{rem(280)}, 100%), 1fr)
    );
    gap: rem(76) rem(30);
  }
}

.director__container > * + * {
  margin-top: rem(64);

  @include supports(display, grid) {
    margin-top: unset;
  }
}

.director__card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--sacramento-state-green);
  padding: rem(32) rem(24) rem(56) rem(24);
  max-width: rem(400);
  text-align: center;

  @include supports(display, grid) {
    margin: unset;
    max-width: unset;
  }
}

.director__avatar {
  margin-bottom: rem(16);
  border: rem(2) solid var(--ocean-blue);
  border-radius: 50%;
  width: rem(96);
  height: rem(96);
}

.director__name {
  color: var(--rapture-blue);
}

.director__job {
  font-style: italic;
  font-weight: 500;
}

.director__button {
  display: flex;
  position: absolute;
  bottom: rem(-28);
  left: 50%;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  z-index: 2;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: var(--light-coral);
  width: rem(56);
  height: rem(56);
  color: var(--sacramento-state-green);

  @include focus-visible(var(--white));

  @include hover {
    background-color: var(--rapture-blue);
  }

  @include prefers-motion {
    transition: background-color var(--transition);
  }
}

.director__button[aria-expanded="true"] {
  background-color: var(--rapture-blue);

  @include hover {
    background-color: var(--light-coral);
  }
}

.director__button[aria-expanded="true"] .director__icon {
  transform: rotate(135deg);
}

.director__button[aria-expanded="true"] ~ .director__blockquote {
  visibility: visible;
  opacity: 1;
}

.director__icon {
  @include prefers-motion {
    transition: transform var(--transition);
  }
}

.director__blockquote {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  background-color: var(--dark-green);
  padding: inherit;
  width: 100%;
  height: 100%;
  text-align: center;

  @include prefers-motion {
    transition: opacity var(--transition), visibility var(--transition);
  }
}

.director__quote {
  margin-top: rem(8);
  margin-bottom: rem(24);
  max-width: 30ch;
}

.director__link + .director__link {
  margin-left: rem(16);
}

.no-js .director__button {
  display: none;
}

.no-js .director__blockquote {
  position: static;
  visibility: visible;
  opacity: 1;
  margin-top: rem(24);
}
