@use "../abstracts" as *;

.button {
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: rem(24);
  background-color: transparent;
  padding: rem(10) rem(33);
  text-decoration: none;
}

.button--light-border {
  border: rem(2) solid var(--white);
  color: var(--white);

  @include focus-visible(var(--white));

  @include hover {
    background-color: var(--white);
    color: var(--dark-green);
  }

  @include prefers-motion {
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
  }
}

.button--dark-border {
  border: rem(2) solid var(--sacramento-state-green);
  color: var(--sacramento-state-green);

  @include focus-visible(var(--dark-green));

  @include hover {
    background-color: var(--sacramento-state-green);
    color: var(--white);
  }

  @include prefers-motion {
    transition: background-color var(--transition), color var(--transition);
  }
}

.button--white-fill {
  background-color: var(--white);
  color: var(--deep-jungle-green);

  @include hover {
    background-color: var(--rapture-blue);
  }

  @include prefers-motion {
    transition: background-color var(--transition);
  }
}
